<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <SCMUrl>https://onlinstore20250914152328.scm.azurewebsites.net/</SCMUrl>
    <ContainerResourceId>/subscriptions/f75bcb92-750f-4662-86e8-6019df279c93/resourcegroups/Onlinstore20250914152328ResourceGroup/providers/Microsoft.ContainerRegistry/registries/Onlinstore20250914152657</ContainerResourceId>
    <ContainerResourceName>Onlinstore20250914152657</ContainerResourceName>
    <Subscription>Azure subscription 1</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>onlinstore20250914152657.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/f75bcb92-750f-4662-86e8-6019df279c93/resourcegroups/Onlinstore20250914152328ResourceGroup/providers/Microsoft.Web/sites/Onlinstore20250914152328</ResourceId>
    <ResourceGroup>Onlinstore20250914152328ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://onlinstore20250914152328.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>de7f5776-6013-41fe-9c13-2807777d1d78</ProjectGuid>
  </PropertyGroup>
</Project>